<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Downloader</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/homeicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/homeicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/homeicon/favicon-16x16.png">
    <link rel="manifest" href="/static/homeicon/site.webmanifest">
</head>
<body>
    <div class="hero-section">
        <div class="container">
            <h1>Download Your Favorite Videos</h1>
            <p>Select a platform to start downloading</p>
            <div class="platform-buttons">
                <a href="/youtube" class="button youtube">YouTube</a>
                <a href="/facebook" class="button facebook">Facebook</a>
                <a href="/instagram" class="button instagram">Instagram</a>
                <a href="/tiktok" class="button tiktok">TikTok</a>
            </div>
        </div>
    </div>
 
</body>
</html>
